<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gatling.UserInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Gatling.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Gatling.UserInfo>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Session" serializeAs="String">
                <value/>
            </setting>
        </Gatling.UserInfo>
        <Gatling.AppSettings>
            <setting name="LastAddress" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="sat" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="sun" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="mon" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="tue" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="wed" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="thu" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="fri" serializeAs="String">
                <value>N</value>
            </setting>
        </Gatling.AppSettings>
    </userSettings>
</configuration>
